parameters:
    level: 9
    
    paths:
        - src
        - tests

    # ignoreErrors:
    #     - "/no value type specified in iterable type array\\.$/"
    #     - "/is always (true|false)\\.$/"

    reportUnmatchedIgnoredErrors: false
